.button-p{
  color: rgb(33,33,33);
  background-color: rgb(255, 216, 20);

  border: 1px solid rgb(252, 210, 0);
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213,217,217,0.5);
  
}

body{
  margin: 0;
  font-family: Roboto,Arial;
  color: rgb(33, 33,33);
}

.link-primary{
  color:rgb(1,124,182);
  cursor: pointer;
}


.link-primary:hover{
  color:rgb(196,80,0);
  
}
