.main{
  width: 850px;
 /* margin-top: 90px;
 margin-bottom: 100px; */
 /* margin-left: auto;
 margin-right: auto; */
  padding: 0 20px;
  margin:  100px auto;
}



.order-tittle{
  
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 26px;
}


.order-grid{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
  
   
}

.order-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  background-color: rgb(240, 242, 242);
  padding: 20px 25px;

  border: 1px solid rgb(213, 217, 217); 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.order-left-header{
  display: flex;
  flex-shrink: 0;
  flex-direction: rows;
  /* justify-content: left; */
}



.order-right-header{
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  /* justify-content: right; */
}

.order-date ,.order-cost{
  margin-right:45px;
}



.order-header-label{
  
  font-weight: 500;
}




/* order details */

.order-details-grid {
  padding: 40px 35px;
  
  border: 1px solid rgb(213, 217, 217);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
 


  display: grid;
  grid-template-columns: 110px 1fr 220px;
  row-gap: 35px;
  column-gap: 60px;
  align-items: center;
  
}




.order-img{
 max-height: 110px;
 max-width: 110px;

}

.order-details-name{
  margin-bottom: 5px;
  font-weight: 700;
}


.order-arriving-date 
{
margin-bottom: 3px;
}
.order-quantity{
  margin-bottom: 8px;

}

.buy-gain-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 36px;
  font-size: 15px;
  border-radius: 8px;
  width: 140px;
 
}




.button-img{
  width: 25px;
  margin-right: 15px;
}

.buy-gain-button span{
  font-size: 15px;
}


.track-package-link{
  border: 1px solid lightgrey;
  text-decoration: none;
  padding: 10px 50px;
  border-radius: 8px;
}

